* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
img.slider {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
h1.slider {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	text-transform: uppercase;
	color: white;
	text-shadow: 0 0 8px black;
}
.dots {
	position: absolute;
	left: 50%;
	bottom: 80px;
	transform: translateX(-50%);
	display: flex;
}
.dots span {
	background-color: white;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	margin: 0 15px;
	box-shadow: 0 0 0 4px grey;
}
button {
	margin: 0 15px;
	box-shadow: 0 0 0 4px grey;
  padding:0 10px;
  border-radius:5px;
  border:none;
}
.dots span.active {
	background-color: grey;
}
